[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "*"
numpy = ">=1.14.0"
scipy = "*"
pandas = ">=0.23.1"
xarray = "*"
opencv-python = ">=3.2.0"
scikit-learn = "*"
scikit-image = "*"
photutils = ">=0.4.0"
matplotlib = "*"
plotly = "*"
lmfit = "*"
weightedstats = "*"
xlrd = "*"
jupyter = "*"
seaborn = ">=0.9.0"
openpyxl = "*"
"pep8" = "*"

[dev-packages]

[requires]
python_version = "3.7"
