[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
future = "*"
numpy = ">= 1.14.0"
scipy = "*"
pandas = "*"
xarray = "*"
opencv-python = "*"
scikit-learn = "*"
scikit-image = "*"
photutils = ">= 0.4.0"
matplotlib = "*"
plotly = "*"
lmfit = "*"
weightedstats = "*"
xlrd = "*"
packaging = "*"
pylint = "*"
"flake8" = "*"
pydocstyle = "*"
"pep8" = "*"
ipykernel = "*"
rope = "*"
ipython = "*"
seaborn = "*"
imblearn = "*"
"mpld3" = "*"
"jinja2" = "*"
ipywidgets = "*"


[dev-packages]



[requires]

python_version = "3.6"
