future
six
numpy>=1.14.0
scipy
pandas>=0.23.4
xarray
opencv-python>=3.2.0
scikit-learn
scikit-image
photutils>=0.4.1
matplotlib
plotly
lmfit
xlrd
packaging
notebook>=5.7.1
jupyter
seaborn>=0.9.0
openpyxl>=2.5.12
xlrd>=1.2.0